/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.container {
    width: 95% !important;
    max-width: inherit;
}

.container .row {
    margin-left: 0px; 
    margin-right: 0px; 
}

label[for=filter], label[for=sort] {
    color: #29b6f6;
    font-size: 15px;
}

.more i{
    position: absolute;
}

#user_infoContainer {
    margin-top: 10px;
}

.user-wrapper {
    display: inline-block;
    height: 32px;
    margin: 2px 0;
    text-align: right;
    vertical-align: top;
    padding-left: 16px;
}

.user-links-wrapper {
    display: inline-block;
    /*margin-right: 10px;*/
}

.user-links-row {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.user-link {
    display: inline-block;
    line-height: 16px;
    max-width: 100%;
    text-overflow: ellipsis;
    transition: opacity 0.2s;
    white-space: nowrap;
    padding: 0px;
    opacity: 0.7;
}

.user-link:hover:not(span), .userAvatar:hover {
    background-color: transparent;
    text-decoration: underline;
    opacity: 1;
}

.user-change {
    max-width: calc(( 100% - 10px)*.625);
}

.user-pipe {
    margin: 0 4px;
    opacity: 0.7;
}

.user-signout {
    max-width: calc(( 100% - 10px)*.375);
}

.avatar {
    border-radius: 50%;
    height: 42px;
    vertical-align: top;
    width: 42px;
}

.carousel{
    height: 300px !important;
}

.carousel .carousel-item {
    width: 300px;
    cursor: default;
}

.suggestion{
    width: 300px !important;
}

.btn{
    background-color: #29b6f6;
}

.btn:hover{
    background-color: #41bef7;
}

#footer {
    width:100%;
    bottom:0;
}

input:focus, textarea:focus{
    border-bottom: 1px solid #29b6f6 !important;
    box-shadow: 0 1px 0 0 #29b6f6 !important;
}

label.active{
    color: #29b6f6 !important;
}

.dropdown-content li:not(.disabled) > a, .dropdown-content li:not(.disabled) > span {
    color: #29b6f6 !important;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #29b6f6 !important;
    border-bottom: 2px solid #29b6f6 !important;
}

.picker__date-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: #29b6f6 !important;
}

.picker__weekday-display {
    background-color: #11aef5 !important;    
}

.picker__day.picker__day--today {
    color: #29b6f6;
}

.picker__day.picker__day--today.picker__day--selected {
    color: #ffffff;
}

.picker__close, .picker__today {
    color: #29b6f6 !important;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.card.hoverable.small > .card-content{
    max-height: 85%;
}

#viewModal .attendees, #viewModal .desc{
    margin: 0;
    padding: 2rem;
}

.select-wrapper + label {
    top:  0.8rem;
}

.attendees .chip {
    margin: 5px;
}

#logo-img{
    max-width: 100%;
    width: auto;
}

span#adr_badge{
    position: inherit;
    width: 70%;
    text-align: right;
}

span#adr_type {
    position: inherit;
    min-width: 2rem;
}

span#timestamp {
    position: relative;
}

p#adr_description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card.small {
    height: 250px;
}

.card-content{
    position: absolute;
    width: 100%
}

.card-action .material-icons {
    margin-left: 3px;
}

.card a{
    margin-right: 0px !important;
}

#schemes .chip.waves-effect:hover {
    cursor: pointer;
    background-color: lightblue;
}

div#paginationDiv{
    display: inline-flex;
}

#schemesContainer .mix{
    display: none;
}

.chip.active{
    background-color: #29b6f6;
}

.contactsList > .chip{
    margin: 2px;
}

.modal a.disabled {
    pointer-events: none;
}

.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
    cursor: default;
}
.autocomplete-selected {
    background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}
.autocomplete-group { 
    padding: 2px 5px; 
}
.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

div.error {
    text-align: right;
    position: relative;
    padding-bottom: 15px;
}

div.error label{
    right: 0px;
    top: 0px;
    left: 0px;
    color: red;
}

.progress{
    background-color: #29b6f6;
}

.progress .indeterminate {
    background-color: #bbe8fc;
}

#suggestionsSwitch.switch label input[type=checkbox]:checked + .lever, #mapSwitch.switch label input[type=checkbox]:checked + .lever {
    background-color: lightblue;
}

#suggestionsSwitch.switch label input[type=checkbox]:checked + .lever:after, #mapSwitch.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #29b6f6;
}
/*Pagination Controls*/
.pager-list span {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    color: #444;
    cursor: pointer;
}

.pager-list span.active span {
    color: #fff;
    background-color: #29b6f6;
}

.pager-list span.active{
    cursor: default;
}

.pager-list span.disabled{
    cursor: not-allowed;
}

.pager-list span.disabled span{
    cursor: not-allowed;
    color: #999;
}

.pager-list span.pager {
    display: inline-block;
    float: none;
}

@media only screen and (max-width: 992px) {
    .pager-list {
        width: 100%;
    }
    .pager-list span.page-prev,
    .pager-list span.page-next {
        width: 10%;
    }
    .pager-list span.pager {
        overflow: hidden;
        white-space: nowrap;
    }
}
/*Pagination Controls*/