/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.container {
    width: 95% !important;
    max-width: inherit;
}

#footer {
    width:100%;
    bottom:0;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.card.hoverable.small > .card-content{
    max-height: 85%;
}

#guestsView.collection{
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
    position: relative;
    border: 0px;
    border-radius: 0px;
}

#guestsView.collection .collection-item.avatar {
    min-height: 0px;
    float: left;
    padding-left: 72px;
}

#guestsView.collection .collection-item{
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 0px;
    width: 300px;
    background-color: transparent;
}

#logo-img{
    max-width: 100%;
    width: auto;
}

span#adr_badge{
    position: inherit;
    width: 70%;
    text-align: right;
}

span#adr_type {
    position: inherit;
}

span#timestamp {
    position: relative;
}

p#adr_description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.card-content{
    position: absolute;
}

.card-action .material-icons {
    margin-left: 3px;
}

.card a{
    margin-right: 0px !important;
}